<div class="login d-flex justify-content-center align-items-center m-auto">
  <div class="row">
    <div class="col-md-6 p-0">
  
      <img src="../../../../assets/shuffle-03.jpg" />
    </div>
    <div class="col-md-6">
      <div class="h-100 d-flex align-items-center justify-content-center w-100">
        <div class="box w-100 ">
          <h1>Login</h1>
          <form [formGroup]="loginForm">
            <div class="w-100">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                formControlName="email"
              />
            </div>
            <div class="w-100">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                formControlName="password"
              />
            </div>
            <div class="d-flex justify-content-center mt-5">
              <button type="button" class="btn btn-success" (click)="login()">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
