<div class="mt-5">
    
  <div class="row">
    <div class="col-md-3" *ngFor="let item of dataSource;let index = index">
      <div class="card mt-3" >
        <div class="card-body">
          <h2 class="card-title">{{item.title}}</h2>
          <p class="card-subtitle mb-2 text-muted">Dead-Line Date : {{item.deadLineDate}}</p>
          <p class="card-text">{{item.description }}</p>
          <a  class="card-link"  mat-raised-button color="basic">Details</a>
          <button  mat-raised-button color="warn">Complete</button>
        </div>
      </div>
    </div>
  </div>

</div>
